.jumbotron-main {
    background-image: url("img/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #FFC34B; */
}

.banner-text {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
}

.jumbotron-subject {
    background-image: url("img/bg-physics.jpg");
}

.img-container {
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-adjust {
    width: 100%;
    height: 100%;
}

.card-new {
    background-color: #704d9f;
    /* min-height: 350px; */
}

.test-1 {
    border-radius: 50%;
    border: solid 4px #704d9f;
    overflow: hidden;
}

.img-container-test {
    height: 250px;
}

.img-container-math {
    background-color: #00B163;
}

@media only screen and (min-width: 768px) {
    .search-form {
        width: 400px !important; } }

.avatar-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007bff;
}
.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.custom-img-imput {
    height: fit-content;
}

.file-previews {
    min-height: 20px;
}

.custom-img-imput-btn {
    margin-top: 10px;
}

