.jumbotron-main {
    background-image: url("img/background.jpg");
}

.jumbotron-subject {
    background-image: url("img/bg-physics.jpg");
}

.img-container {
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-adjust {
    width: 100%;
    height: auto;
}

.card-physics {
    background-color: #704d9f;
    min-height: 350px;
}

.test-1 {
    border-radius: 50%;
    border: solid 4px #704d9f;
    overflow: hidden;
}

.img-container-test {
    height: 250px;
}

.img-container-math {
    background-color: #00B163;
}

.img-container-geo {
    background-color: #FF7544;
}

@media only screen and (min-width: 768px) {
    .search-form {
        width: 400px !important; } }

.avatar-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007bff;
}
.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


