<footer>
    <div class="bg-secondary py-4">
        <div class="container d-flex justify-content-center text-white">
            <div>
                <p>Something here</p>
            </div>
        </div>
    </div>
</footer>
