<div class="container d-flex justify-content-center">
    <form class="form-inline mb-4">
        <input class="search-form form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
</div>
